*{
	box-sizing: border-box;
}

html, body{
	margin: 0;
	padding: 0;
	width:100%;
  	font-family: Helviteca, sans-serif;
}

h1{
	text-align: center;
	font-size: 175%;
	margin: 50px 0px;
}

.container{
	width: 100%;
}

.column{
	position: relative;
}

section{
	padding: 30px 10px 10px 10px;
	margin: 0px 0px 30px 30px;
	background-color: #ecf0f1;
	border: 1px solid black;
}

.section-title{
	border: 1px solid black;
	width: 150px;
	height: 25px;
	background-color: black;
	position: absolute;
	top: 0px;
	right: 0px;
	text-align: center;
	font-size: 125%;
	color: white;
}

.section-title-red{
	background-color: #c0392b;
}

.section-title-green{
	background-color: #16a085;
}

.section-title-blue{
	background-color: #2980b9;
}

/********** Desktop Version **********/
@media (min-width: 992px) {
  .col-lg-4 {
    float: left;
    width: 32.5%;
  }
}

/********** Tablet Version **********/
@media (min-width: 768px) and (max-width: 991px) {
  .col-md-6 {
    float: left;
    width: 48%;
  }

  .col-md-last {
  	float: left;
    width: 96%;
  }
}

/********** Mobile Version **********/
@media (max-width: 767px) {
  .col-sm-12 {
    float: left;
    width: 94%;
  }

  h1{
  	margin: 30px 0px;
  }
}